;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

[color]
background = #282c34
foreground = #bbc2cf
background-alt = #3f444a
foreground-alt = #5B6268

cyan     =   #46d9ff 
green    =   #98be65 
orange   =   #da8548
magenta  =   #c678dd
violet   =   #a9a1e1
red      =   #ff6c6b
yellow   =   #ecbe7b

primary = ${colors.magenta} 
secondary =${colors.red} 
alert = ${colors.red} 

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 0

[bar/mainbar0]
inherit = bar/barbase
modules-left = activity workspace0
tray-position = right
tray-detached = true
tray-maxsize = 14
tray-offset-x = -100
tray-offset-y = 0
tray-padding = 15
tray-scale = 1.0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$SCRIPTPATH/template.liquid"
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = activity workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$SCRIPTPATH/template.liquid"
tail = true

[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 8
offset-y = 8
height = 24
fixed-center = true
bottom = false

background = ${colors.background}
foreground = ${colors.foreground}

radius-top = 8.0
radius-bottom = 8.0

padding = 2
module-margin-left = 0
module-margin-right = 3

font-0 = "FantasqueSansMono Nerd Font:size=13"
modules-center = date
modules-right = battery internet cpu memory
enable-ipc = true

label-disconnected = 
label-disconnected-foreground = ${color.fg-alt}
label-packetloss = 
[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%
format-foreground = ${colors.magenta}


[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.cyan}
format-foreground = ${colors.cyan}
label = %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = "  "
format-prefix-foreground = ${colors.magenta}
format-foreground = ${colors.magenta}
label = %mb_used%/%gb_free%

[module/date]
type = internal/date
interval = 5

date = "%d %b %Y (%a)"  
format-foreground = ${colors.violet}
; date-alt = " %Y-%m-%d"

time = %H:%M:%S
; time-alt = %H:%M:%S

; format-prefix = 
; format-prefix-foreground = ${colors.violet}

label = %date% %time%

[module/internet]
type = custom/script
exec = bash /home/drishal/dotfiles/config/polybar/internet.sh
format-foreground = ${colors.orange} 


[module/battery]
type = custom/script
exec = bash /home/drishal/dotfiles/config/polybar/battery.sh
format-foreground = ${colors.green} 
