@import "color.css";
@import "notificationPopups.css";
* {
    font-family: "FantasqueSansM Nerd Font","Roboto", "Helvetica", "Arial", "sans-serif";
}

window.bar {
    background-color: @colbg;
    color: @colfg;
    border-radius: 10px;
}

button {
    background-color: @colbg;
    /* padding: 3px; */
    min-width: 10px;
    color: @colgrey;
}

button:active {
    background-color: @colgrey;
    color: @colfg;
}

/* button:hover { */
/*     border-bottom: 3px solid @colfg; */
/* } */

label {
    font-weight: bold;
}

.ws-inactive  {
    background-color: @colbg;
    color: @colgrey;
    min-width: 20px;
    padding: 3px;
}
.ws-occupied {
    /* background-color: @colgrey; */
    color: @colfg;
    min-width: 20px;
    padding: 3px;

}

.ws-active {
    background-color: @colgrey; 
    color: @colfg;
    min-width: 20px;
    padding: 3px;
}

.client-title {
    color: @colviolet;
}


.clock {
    background: @colgrey; 
    padding: 0 10px;
    margin: 3px 3px 3px 3px;
    background-clip: padding-box;
    color: @colviolet;
}
levelbar block,
highlight {
    min-height: 10px;
}

window.notification-popups box.notifications {
    padding: .5em;
}

