@import "color.css";
@import "notificationPopups.css";
* {
    font-family: "FantasqueSansM Nerd Font","Roboto", "Helvetica", "Arial", "sans-serif";
    font-size: 13px;
    border-radius: 10px;
}

window.bar {
    background-color: @colbg;
    color: @colfg;
}

button {
    background-color: @colgrey;
    /* padding: 3px; */
    min-width: 10px;
    color: @colbg;
}

button:active {
    background-color: @colgrey;
    color: @colfg;
}

/* button:hover { */
/*     border-bottom: 3px solid @colfg; */
/* } */

label {
    font-weight: bold;
}

.ws-inactive  {
    background-color: @colbg;
    color: @colgrey;
    min-width: 20px;
    padding: 3px;
}
.ws-occupied {
    background-color: @colbg;
    color: @colfg;
    min-width: 20px;
    padding: 3px;

}

.ws-active {
    background-color: @colgrey; 
    color: @colfg;
    min-width: 20px;
    padding: 3px;
}

.client-title {
    color: @colviolet;
}


.clock, .battery, .network, .volume, .ram, .cpu{
    background: @colgrey; 
    padding: 0 10px;
    margin: 3px 3px 3px 3px;
    background-clip: padding-box;
}
.tray {
    background: @colgrey; 
    /* padding: 0 10px; */
    /* margin: 3px 3px 3px 3px; */
    background-clip: padding-box;
}
.trayicons {
    background: @colgrey; 
}
.clock {
    color: @colviolet;
    
}
.battery {
    color: @colgreen;
}
.volume {
    color: @colmagenta;
    /* font-size: 8px; */
    min-width: 180px;
    /* border-radius: 10px; */
    margin: -5px -5px -5px -5px;
    /* margin: 0px 0px 0px 0px; */
}
.network {
    color: @colorange;
}
.cpu {
    color: @colcyan
}
.ram {
    color: @colmagenta; 
}
/* .battery{ */
/*     background: @colgrey;  */
/*     padding: 0 10px; */
/*     margin: 3px 3px 3px 3px; */
/*     background-clip: padding-box; */
/*     color: @colviolet; */
/* } */
/* levelbar block, */
/* highlight { */
/*     min-height: 10px; */
/* } */

window.notification-popups box.notifications {
    padding: .5em;
}

/* // Control Panel */
.control-panel-button{
    background-color: @colbg2;
    border-radius: 1rem;
    margin: 0.2rem;
}

.control-panel-sub-button{
    margin: 0.2rem;
}


.control-panel-button:hover{
    background-color: @colgrey;
}

.control-panel-sub-button:hover{
    background-color: @colgrey;
}


 /* This is used to provide padding for content within a control panel button */
.control-panel-button-content{
    padding: 0.4rem;
}

.control-panel-audio-box {
    border-radius: 1rem;
    padding: 0.4rem;
    margin: 0.2rem;
    background-color: @colbg2;
}

.control-panel-widget-large{
    padding: 0.4rem;
    background-color: @colbg;
    border-radius: 1rem;
    margin: 0.2rem;
}
