* {
    /*all: initial; Ignore gtk theme*/ 
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FiraCode Nerd Font","Roboto", "Helvetica", "Arial", "sans-serif";
    font-size: 11px;
    min-height: 0;
    color: #f8f8f2;
}



window#waybar {
    background-color: #282a36;
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

#tags button  {
    background-color: #282a36;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    }
#tags button.occupied  {
    background-color: #44475a;

}

#tags button.focused  {
    background-color: #6272a4; 
}

#battery,
#clock,
#cpu,
#memory,
#network,
#tray
{
  background: #44475a; 
  padding: 0 10px;
  margin: 3px 3px 3px 3px;
  border-radius: 90px;
  background-clip: padding-box;
}

#battery {
    color: #50fa7b; 
}

#clock {
    color: #bd93f9;
}

#cpu {
    color: #8be9fd
}
#memory {
    color: #ff79c6; 
}
#network {
    color: #ffb86c; 
}
