!#include "/home/drishal/dotfiles/.Xresources.d/dracula.Xresources" 
!#include "/home/drishal/dotfiles/.Xresources.d/gruvbox.Xresources" 
#include "/home/drishal/dotfiles/.Xresources.d/OneDark.Xresources" 
!#include "/home/drishal/dotfiles/.Xresources.d/palenight.Xresources"
!#include "/home/drishal/dotfiles/.Xresources.d/fonts.Xresources" 
